@tailwind base;
@tailwind components;
@tailwind utilities;
html {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge */
    }
    html::-webkit-scrollbar {
      display: none; /* Chrome/Safari */
    }